@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
:root {
    --cor-fundo-cartao: #FFECC0;
    --cor-fundo-pagina: #FFC29B;
    --cor-texto-principal: #B95E82;
    --cor-primaria: #B95E82;
    --cor-secundaria: #F39F9F;
    --cor-texto-claro: #FFFFFF;
    --cor-texto-escuro: #000;
}

body {
    overflow-x: hidden;
    background-color: var(--cor-fundo-pagina);
    color: var(--cor-texto-principal);
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-family: 'Poppins', sans-serif;
 }

 .btn-criar {
    text-decoration: none;
    background-color: var(--cor-primaria); 
    color: var(--cor-texto-claro);
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.btn-criar:hover{
    background-color: var(--cor-secundaria);
}

main.secao-principal {
    padding: 2rem 0;
}



.container {
    max-width: 80rem;
    margin: 0 auto;

}

.recado {
    background-color: var(--cor-fundo-cartao);
    padding: 1.25rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    color: var(--cor-texto-principal);
    box-shadow: 0 0.25rem 0.9375rem rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.recado:hover {
    box-shadow: 0 0.5rem 1.25rem #B95E8233;
    transform: scale(1.03);
}

.recado h3 {
    margin-bottom: 0.25rem;
}

.recado p {
    margin-top: 0;
    opacity: 0.8;
}

